* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "0xProto Nerd Font";
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background: transparent;
    /*border: 2px solid #3c3836;*/
    padding: 2px 8px;
}

window#waybar.empty #window {
    background-color: transparent;
    border-color: transparent;
}

tooltip {
    background-color: #1d2021;
    border: 2px solid #7c6f64;
}

#clock,
#cpu,
#temperature,
#memory,
#battery,
#network,
#battery,
#pulseaudio {
    margin: 4px 0px 2px 0px;
    padding: 2px 4px;
}

#window,
#tray,
#workspaces {
    background-color: #303536;
    color: #c7ab7a;
    margin: 4px 0px 2px 4px;
    padding: 2px 4px;
    border: 2px solid #434a4c;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: #c7ab7a;
}

#workspaces button.active {
    color: #98971a;
}

#workspaces button.urgent {
    background-color: #e78a4e;
}

#tray {
    background-color: #303536;
    border: 2px solid #434a4c;
}

#clock {
    border-right: 2px solid #434a4c;
    margin-right: 4px;
}

#cpu {
    border-left: 2px solid #434a4c;
}

#clock,
#cpu,
#temperature,
#memory,
#network,
#battery,
#pulseaudio {
    background-color: #303536;
    border-top: 2px solid #434a4c;
    border-bottom: 2px solid #434a4c;
    color: #d4be98;
}

#cpu.critical,
#memory.critical {
    background-color: #ddc7a1;
    border: 2px solid #c7ab7a;
    color: #c14a4a;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #ddc7a1;
    border: 2px solid #c7ab7a;
    color: #c14a4a;
}
